Package: tune.chargelimiter
Name: ChargeLimiter
Version: 1.8
Description: 优化了一下界面
Section: Applications
Depends: firmware (>= 13.0)
Priority: optional
Architecture: iphoneos-arm64
Author: tune
Maintainer: tune

